.form-outline img {
    position: absolute;
    height:20px;
    top: 20%;
    left: auto;
    right: 20px;
}

.picture-label {
    display: block;
    width: 50vw;
    max-width: 200px;
    color:white;
    background-color: #17a2b8;
    border-radius: 3px;
    font-size: 14px;
    line-height: 2.3em;
    text-align: center;
    cursor:pointer;
}

.picture-label:hover {
    background-color: #0e7788;
}

.item-image {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hidden {
    display: none;
}

.preview {
    left: -50px;
    width: 100px;
    height: 100px;
}

.image-preview {
    width: 80px;
    height: 80px;
    border: 1px solid #dee2e6;
}

.image-thumbnail {
    width: 50px;
    height: 50px;
    transition: transform .2s;
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.image-thumbnail:hover {
    transform: scale(2);
}