
@{
    ViewData["Title"] = "AccessDenied";
}

<section class="access-denied-page">
    <div class="access-denied-container">
        <div class="icon-container">
            <div class="icon">🚫</div>
        </div>
        <h1 class="header">Access Denied</h1>
        <p>You do not have permission to view this page.</p>
        <a class="btn btn-info px-3 text-light" asp-area="Admin" asp-controller="Dashboard" 
        asp-action="Index">Go to Homepage</a>
    </div>
</section>

@section Styles{
    <link href="~/css/accessdenied.css" rel="stylesheet" />
}